@media screen and (max-width:991px){
	#qarabagaz{
		font-size: 25px;
		color: white;
		display: block!important;
		text-align: center;
	}
}

#qarabagaz{
	display: none;
}

li.nav-item a.nav-link{
	color: white;
	font-size: 20px;
}