{% extends 'base.html' %}
{% load static%}
{% block title %} Qarabağ Azərbaycandır! | Qarabağ.az {% endblock %}
{%block css_files%}
<link rel="stylesheet" type="text/css" href="{%static 'main/css/index.css'%}">
{%endblock%}

{%block js_files%}
<script type="text/javascript" src="{%static 'main/js/index.js'%}"></script>
{%endblock%}

{% block content %}
    <div class="container-fluid mt-2">
        <h2 style="text-align:center;margin-bottom: 10px;">ŞƏHİDLƏRİMİZİ TANIYAQ</h2>
        <div class="row align-item-center">
        {%if persons%}
        {%for person in persons%}
            {%include 'main/partials/_sehid.html'%}
        {%endfor%}
        {%endif%}
        </div>
    </div>
    {%include 'main/partials/_back_to_top.html'%}
{% endblock  %}
