{% extends 'base.html' %}
{% block title %} Qarabağ Azərbaycandır! | Qarabağ.az {% endblock %}

{% block content %}
    
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
    <h1>Index block content burada olacaq</h1>
{% endblock  %}
