{%extends 'base.html'%}
{%load static%}

{%block title%} Şəhidlər ölməz vətən bölünməz | Qarabag.az {%endblock%}

{%block css_files%}
<link rel="stylesheet" type="text/css" href="{%static 'main/css/sehidler.css'%}">
{%endblock%}
{% block content %}
    <div class="container-fluid my-2 p-0">
    	{%if persons%}
            <div class="container-fluid p-0">
				<table class="mytable">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Fotoşəkil</th>
                            <th>Rütbəsi</th>
                            <th>Soyadı, adı, atasının adı</th>
                            <th>Doğum tarixi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%with counter=0%}
                        {%for personIndex,person in persons%}
                            <tr>
                                <td class="number">{{personIndex|add:"1"}}</td>
                                <td style="width:200px;height:200px" title="{{person.get_full_name|title}}">
                                    <img src="{{person.sekil}}" style="display:block; width:100%; height:auto;">
                                </td>
                                <td title="Rütbə">
                                    {%for rutbe in person.rutbe.all%}{{rutbe}}{%endfor%}
                                </td>
                                <td title="{{person.get_full_name|title}}">{{person.get_full_name}}</td>
                                <td title="Gün.Ay.İl">{{person.dogum_tarixi|date:"d.m.Y"}}</td>
                            </tr>
                        {%endfor%}
                        {%endwith%}
                    </tbody>
                    <tfoot></tfoot>
                </table>
			</div>
        {%endif%}
    </div>
    <script src="{%static '/main/js/sehidler.js'%}"></script>
{% endblock  %}