{%extends 'base.html'%}
{%load static%}

{%block title%} Şəhidlər ölməz vətən bölünməz | Qarabag.az {%endblock%}

{% block content %}
    <div class="container-fluid my-2 p-0">
    	{%if persons%}
            <div class="container-fluid p-0">
				<table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            <th>№</th>
                            <th>Fotoşəkil</th>
                            <th>Rütbəsi</th>
                            <th>Soyadı, adı, atasının adı</th>
                            <th>Doğum tarixi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%with counter=0%}
                        {%for personIndex,person in persons%}
                            <tr>
                                <td>{{personIndex|add:"1"}}</td>
                                <td style="width:200px;height:200px">
                                    <img src="{{person.sekil}}" style="display:block; width:100%; height:auto;">
                                </td>
                                <td>
                                    {%for rutbe in person.rutbe.all%}{{rutbe}}{%endfor%}
                                </td>
                                <td>{{person.get_full_name|title}}</td>
                                <td>{{person.dogum_tarixi}}</td>
                            </tr>
                        {%endfor%}
                        {%endwith%}
                    </tbody>
                    <tfoot></tfoot>
                </table>
			</div>
        {%endif%}
    </div>
    <script src="{%static '/main/js/sehidler.js'%}"></script>
{% endblock  %}